<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 appColorChange>
    Welcome to {{ title }}!
  </h1>
</div>
<h2 appColorChange>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a *appShowHide="first" target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2><a *appShowHide="first" target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a *appShowHide="first" target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<ul>
  <li *appLoop="let hero from heros">{{hero}}</li>
</ul>